@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false )
	@font-face
		font-family: $font-family
		font-weight: $weight
		font-style: $style
		src: url('#{$file-path}.eot')
		src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype')

    
+font-face("Helvetica", "../fonts/HelveticaRegular/HelveticaRegular")
+font-face("Helvetica", "../fonts/HelveticaBold/HelveticaBold", bold)
+font-face("Helvetica", "../fonts/HelveticaLight/HelveticaLight", 300)