.content
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 2rem 0
    h2
        margin-bottom: 1rem
    p
        line-height: 1.8
        font-size: 15px

.textWrapper, .imageWrapper
    display: flex
    align-items: center
    justify-content: center

.textWrapper
    div
        max-width: 90%

.imageWrapper
    img
        max-width: 90%

.hero
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    padding: 3rem 0
    p
        margin-top: 1rem
        max-width: 60%
        line-height: 1.8

.contactLink
    padding: 2rem 0 3rem 0
    text-align: center
