.content
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 2rem 0
    h2
        margin-bottom: 1rem
    p
        line-height: 1.8
        font-size: 15px

.textWrapper, .imageWrapper
    display: flex
    align-items: center
    justify-content: center

.textWrapper
    div
        max-width: 90%

.imageWrapper
    img
        max-width: 90%

.hero
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    padding: 3rem 0
    p
        margin-top: 1rem
        max-width: 60%
        line-height: 1.8

.contactLink
    padding: 2rem 0 3rem 0
    text-align: center

@media screen and (max-width: 568px)
    .hero
        padding: 1.5rem 0
        text-align: left
        p
            max-width: 100%
    .content
        display: flex
        flex-direction: column
        padding: 0
        h2
            margin-bottom: 8px
            margin-top: 4px
            text-align: center
    .content:last-of-type
        flex-direction: column-reverse
        margin-top: 1rem
    .textWrapper
        div
            max-width: 100%
    .imageWrapper
        margin-top: 12px
        img
            max-width: 100%
    .contactLink
        text-align: left
        a
            text-decoration: underline
