.hero
    background-color: #f8f8f8

.heroLeft
    h2
        font-weight: bold
        max-width: 90%
        margin-top: 2.5rem
        margin-bottom: 1rem
    img
        max-width: 80%
        width: 150px
        margin-top: 4px
    .button
        padding: 8px 26px
        margin: 1rem 0
    p
        max-width: 90%

.heroImage
    img
        max-width: 100%
        border-radius: 2px

.actionWrapper
    padding: 2rem 0
.action
    padding: 2rem
    background-color: #EAf5f9
    border-radius: 2px
    height: 100%

.actionName
    display: flex
    justify-content: space-between
    font-size: 20px
    font-weight: bold

.actionDescription
    margin-top: 1rem
    color: #181828
